source/newtelligence.DasBlog.Web.Services/Test/Web References/ConfigService/configeditingservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="urn:newtelligence-com:dasblog:config" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="urn:schemas-newtelligence-com:dasblog:config-services:auth-temp" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:schemas-newtelligence-com:dasblog:config-services" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:schemas-newtelligence-com:dasblog:config-services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:schemas-newtelligence-com:dasblog:config-services">
      <s:import namespace="urn:newtelligence-com:dasblog:config" />
      <s:element name="siteConfig" type="s1:SiteConfig" />
      <s:element name="EnumBlogrollsResult" type="tns:ArrayOfString" />
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="blogRollName" type="s:string" />
      <s:element name="GetBlogrollResult">
        <s:complexType>
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="blogRoll">
        <s:complexType>
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:newtelligence-com:dasblog:config">
      <s:complexType name="SiteConfig">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subtitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Theme" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Root" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Copyright" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RssDayCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RssMainEntryCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RssEntryCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableRssItemFooters" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RssItemFooter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FrontPageDayCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FrontPageEntryCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryAllEntries" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FrontPageCategory" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlwaysIncludeContentInRSS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryTitleAsLink" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NotifyWebLogsDotCom" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NotifyBloGs" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ObfuscateEmail" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NotificationEMailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendCommentsByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendReferralsByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendTrackbacksByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendPingbacksByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendPostsByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableBloggerApi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableComments" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableCommentApi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableConfigEditService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableEditService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableAutoPingback" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowCommentCount" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableTrackbackService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnablePingbackService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableStartPageCaching" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableBlogrollDescription" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableUrlRewriting" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableFtb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableCrossposts" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseUserCulture" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowItemDescriptionInAggregatedViews" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableClickThrough" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableAggregatorBugging" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayTimeZoneIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustDisplayTimeZone" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="EditPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinariesDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmtpServer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnablePop3" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3Server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3SubjectPrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3Interval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3InlineAttachedPictures" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3InlinedAttachedPicturesThumbHeight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyContentFiltersToWeb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyContentFiltersToRSS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableXSSUpstream" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSUpstreamEndpoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSUpstreamUsername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSUpstreamPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSRSSFilename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XSSUpstreamInterval" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentFilters" type="s1:ArrayOfContentFilter" />
          <s:element minOccurs="0" maxOccurs="1" name="CrosspostSites" type="s1:ArrayOfCrosspostSite" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3DeleteAllMessages" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3LogIgnoredEmails" type="s:boolean" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfContentFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContentFilter" nillable="true" type="s1:ContentFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContentFilter">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="find" type="s:string" />
        <s:attribute name="replace" type="s:string" />
        <s:attribute name="isregex" type="s:boolean" use="required" />
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfCrosspostSite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CrosspostSite" nillable="true" type="s1:CrosspostSite" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CrosspostSite">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="profileName" type="s:string" />
        <s:attribute name="hostName" type="s:string" />
        <s:attribute name="port" type="s:int" use="required" />
        <s:attribute name="endpoint" type="s:string" />
        <s:attribute name="username" type="s:string" />
        <s:attribute name="password" type="s:string" />
        <s:attribute name="blogid" type="s:string" />
        <s:attribute name="blogname" type="s:string" />
        <s:attribute name="allblognames">
          <s:simpleType>
            <s:list itemType="s:string" />
          </s:simpleType>
        </s:attribute>
        <s:attribute name="apitype" type="s:string" />
        <s:anyAttribute />
      </s:complexType>
      <s:element name="siteConfig" nillable="true" type="s1:SiteConfig" />
      <s:element name="SiteConfig" nillable="true" type="s1:SiteConfig" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:schemas-newtelligence-com:dasblog:config-services:auth-temp">
      <s:element name="authenticationHeader" type="s2:authenticationHeader" />
      <s:complexType name="authenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSiteConfigSoapIn" />
  <wsdl:message name="GetSiteConfigSoapOut">
    <wsdl:part name="GetSiteConfigResult" element="tns:siteConfig" />
  </wsdl:message>
  <wsdl:message name="GetSiteConfigauthenticationHeader">
    <wsdl:part name="authenticationHeader" element="s2:authenticationHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSiteConfigSoapIn">
    <wsdl:part name="siteConfig" element="s1:siteConfig" />
  </wsdl:message>
  <wsdl:message name="UpdateSiteConfigSoapOut" />
  <wsdl:message name="UpdateSiteConfigauthenticationHeader">
    <wsdl:part name="authenticationHeader" element="s2:authenticationHeader" />
  </wsdl:message>
  <wsdl:message name="EnumBlogrollsSoapIn" />
  <wsdl:message name="EnumBlogrollsSoapOut">
    <wsdl:part name="EnumBlogrollsResult" element="tns:EnumBlogrollsResult" />
  </wsdl:message>
  <wsdl:message name="EnumBlogrollsauthenticationHeader">
    <wsdl:part name="authenticationHeader" element="s2:authenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBlogrollSoapIn">
    <wsdl:part name="blogRollName" element="tns:blogRollName" />
  </wsdl:message>
  <wsdl:message name="GetBlogrollSoapOut">
    <wsdl:part name="GetBlogrollResult" element="tns:GetBlogrollResult" />
  </wsdl:message>
  <wsdl:message name="GetBlogrollauthenticationHeader">
    <wsdl:part name="authenticationHeader" element="s2:authenticationHeader" />
  </wsdl:message>
  <wsdl:message name="PostBlogrollSoapIn">
    <wsdl:part name="blogRollName" element="tns:blogRollName" />
    <wsdl:part name="blogRoll" element="tns:blogRoll" />
  </wsdl:message>
  <wsdl:message name="PostBlogrollSoapOut" />
  <wsdl:message name="PostBlogrollauthenticationHeader">
    <wsdl:part name="authenticationHeader" element="s2:authenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetSiteConfigHttpGetIn" />
  <wsdl:message name="GetSiteConfigHttpGetOut">
    <wsdl:part name="Body" element="s1:SiteConfig" />
  </wsdl:message>
  <wsdl:message name="EnumBlogrollsHttpGetIn" />
  <wsdl:message name="EnumBlogrollsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetBlogrollHttpGetIn">
    <wsdl:part name="blogRollName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBlogrollHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ConfigEditingServiceSoap">
    <wsdl:operation name="GetSiteConfig">
      <wsdl:input message="tns:GetSiteConfigSoapIn" />
      <wsdl:output message="tns:GetSiteConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSiteConfig">
      <wsdl:input message="tns:UpdateSiteConfigSoapIn" />
      <wsdl:output message="tns:UpdateSiteConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnumBlogrolls">
      <wsdl:input message="tns:EnumBlogrollsSoapIn" />
      <wsdl:output message="tns:EnumBlogrollsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogroll">
      <wsdl:input message="tns:GetBlogrollSoapIn" />
      <wsdl:output message="tns:GetBlogrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostBlogroll">
      <wsdl:input message="tns:PostBlogrollSoapIn" />
      <wsdl:output message="tns:PostBlogrollSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConfigEditingServiceHttpGet">
    <wsdl:operation name="GetSiteConfig">
      <wsdl:input message="tns:GetSiteConfigHttpGetIn" />
      <wsdl:output message="tns:GetSiteConfigHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnumBlogrolls">
      <wsdl:input message="tns:EnumBlogrollsHttpGetIn" />
      <wsdl:output message="tns:EnumBlogrollsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogroll">
      <wsdl:input message="tns:GetBlogrollHttpGetIn" />
      <wsdl:output message="tns:GetBlogrollHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigEditingServiceSoap" type="tns:ConfigEditingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetSiteConfig">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/GetSiteConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSiteConfigauthenticationHeader" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSiteConfig">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/UpdateSiteConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSiteConfigauthenticationHeader" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnumBlogrolls">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/EnumBlogrolls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EnumBlogrollsauthenticationHeader" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogroll">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/GetBlogroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBlogrollauthenticationHeader" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBlogroll">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/PostBlogroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostBlogrollauthenticationHeader" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigEditingServiceHttpGet" type="tns:ConfigEditingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSiteConfig">
      <http:operation location="/GetSiteConfig" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnumBlogrolls">
      <http:operation location="/EnumBlogrolls" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogroll">
      <http:operation location="/GetBlogroll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigEditingService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="ConfigEditingServiceSoap" binding="tns:ConfigEditingServiceSoap">
      <soap:address location="http://localhost/omar/configeditingservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfigEditingServiceHttpGet" binding="tns:ConfigEditingServiceHttpGet">
      <http:address location="http://localhost/omar/configeditingservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>